header {
	background-color: #007f5f;
	min-height: 53.64px;
}

header a {
	padding: 15px;
	text-align: center;
}

header a:hover {
	text-decoration: none;
}

header .links a:hover {	
	background-color: #008000;
	border-radius: 5px;
	color: #ffff3f!important;
}

header .log {
	width: 35px;
	transition: .3s;
	filter: grayscale(100%);
}

footer {
    /*position: absolute;*/
    margin-bottom: 0px;
    width:100%;
    background: #007f5f;
}

footer .fab {
	color: #fff;
	font-size: 45px;
	margin-bottom: 20px;
}

/*reponsivo*/
@media (max-width: 767px) {

	header .hamburger {
		display: block!important;
	}

	header .hamburger img {
		width: 60px;
	}

	header .links {
		display: none;
		padding-top: 2.5rem;
	}

	header .links a {
		text-align: right;
		width: 100%;
		float: none!important;
	}

	footer {
		position: initial;
	}

	footer .link-responsive {
		text-align: center!important;
		margin-bottom: 30px;
	}

	footer .link-responsive a {
		margin-left: 0!important;
	}

}